@font-face {
    font-family: Mulish;
    src: url(./fonts/Mulish-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Mulish;
    src: url(./fonts/Mulish-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Mulish;
    src: url(./fonts/Mulish-ExtraBold.ttf) format('truetype');
    font-weight: 800;
}

* {
    font-family: Mulish;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    width: 1120px;
    margin: auto auto 85px auto;
}

header {
    display: flex;
    margin-top: 43px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #001A49;
    font: 800 30px Mulish;
}

header nav {
    display: flex;
}

header nav p:not(:last-child) {
    margin-right: 37px;
}

header nav p {
    color: #001A49;
    font: 700 16px Mulish;
}

header nav p:hover {
    text-decoration: underline;
}

header .button {
    width: 147px;
    border-radius: 33px;
    background: linear-gradient(44deg, #8FBBE5 0%, #3D75BF 100%);
    color: #FFF;
    font: 700 16px Mulish;
    padding: 15px 0;
    text-align: center;
}

header .button:hover {
    background: linear-gradient(44deg, #0d3457 0%, #3D75BF 100%);
}

.preview-landing .left {
    width: 540px;
}


.preview-landing {
    display: flex;
    margin-top: 267px;
}

.preview-landing .left h1 {
    color: #001A49;
    font: 800 60px Mulish;
}

.preview-landing .left p {
    color: #4F596A;
    font: 400 20px Mulish;
    margin-top: 20px;
}

.preview-landing .left .button {
    width: 180px;
    border-radius: 33px;
    background: linear-gradient(44deg, #8FBBE5 0%, #3D75BF 100%);
    color: #FFF;
    font: 700 16px Mulish;
    padding: 17px 0;
    text-align: center;
    margin-top: 35px;
}

.preview-landing .left .button:hover {
    background: linear-gradient(44deg, #0d3457 0%, #3D75BF 100%);
}

.preview-landing .right-img {
    background-image: url(./assets/Group\ 7.png);
    background-repeat: no-repeat;
    width: 590px;
    height: 360px;
    background-size: contain;
    position: relative;
    left: 230px;
}

.statistic {
    position: relative;
    margin-top: 203px;
}

.statistic .table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 21px;
    border: 1px solid #E7EAEB;
    background: #FFF;
    position: relative;
    z-index: 2;
}

.statistic .table .item {
    width: 373px;
    text-align: center;
    padding: 50px 0;
}

.statistic .table .item:not(:last-child) {
    border-right: 1px solid #E7EAEB;
}

.statistic .table h2 {
    color: #001A49;
    text-align: center;
    font: 800 40px Mulish;

}

.statistic .table p {
    color: #4F596A;
    text-align: center;
    font: 400 16px Mulish;
}

.statistic .oval-img {
    width: 288px;
    height: 288px;
    background-image: url(./assets/Side\ Shape.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 20px;
    z-index: 1;
    left: -200px;
}


.advantages {}

.advantages .hat h1 {
    color: #001A49;
    text-align: center;
    font: 800 46px Mulish;
    margin-top: 194px;
}

.advantages .hat p {
    color: #4F596A;
    text-align: center;
    font: 400 20px Mulish;
}

.advantages .blocks {
    margin-top: 61px;
}

.advantages .block {
    width: 1120px;
    border-radius: 21px;
    background: #EEF7FF;
    display: flex;
    padding: 50px 0;
}



.advantages .block:not(:last-child) {
    margin-bottom: 30px;
}

.advantages .blocks .block .triangles {
    background-image: url(./assets/Group\ 8.png);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 46px;
}

.advantages .blocks .block nav {
    margin-left: 20px;
}

.advantages .blocks .block h2 {
    color: #001A49;
    font: 800 24px Mulish;

}

.advantages .blocks .block p {
    color: #4F596A;
    font: 400 16px Mulish;
    width: 960px;
    margin-top: 20px;
}

.enroll {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.enroll .enrl h1 {
    color: #3D75BF;
    font: 800 100px Mulish;
    margin-top: 122px;
}

.enroll .enrl h2 {
    color: #001A49;
    font: 800 50px Mulish;
}

.enroll .button {
    width: 180px;
    border-radius: 33px;
    background: linear-gradient(44deg, #8FBBE5 0%, #3D75BF 100%);
    color: #FFF;
    font: 700 16px Mulish;
    padding: 17px 0;
    text-align: center;
    margin: 12px 0 0 475px;
}

.enroll .button:hover {
    background: linear-gradient(44deg, #0d3457 0%, #3D75BF 100%);
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 129px;
}

footer .foot-left .hs {
    display: flex;
}

.foot-left .hs h3 {
    color: #3C82F4;
    font: 800 37px Mulish;
}

.foot-left .hs h2 {
    color: #001A49;
    font: 800 37px Mulish;
    margin-left: 20px;
}

footer p {
    color: #707070;
    font: 500 27px Mulish;
}